<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        body {
    text-align: center;
}
form {
    display: inline-block;
    background-color: coral;
}
    </style>
</head>
<body>
<h1> Enter passenger details</h1>
<form method="POST">
    {{form.hidden_tag()}}
        {{ form.csrf_token }}
        <p>
            {{ form.first_name.label }}
            {{ form.first_name(size=20) }}
        </p>

        {% if form.first_name.errors %}
            <ul class="errors">
                {% for error in form.first_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.second_name.label }}
            {{ form.second_name(size=20) }}
        </p>
        {% if form.second_name.errors %}
            <ul class="errors">
                {% for error in form.second_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.last_name.label }}
            {{ form.last_name() }}
        </p>

        {% if form.last_name.errors %}
            <ul class="errors">
                {% for error in form.last_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.phone_number.label }}
            {{ form.phone_number() }}
        </p>

        {% if form.phone_number.errors %}
            <ul class="errors">
                {% for error in form.phone_number.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.email_address.label }}
            {{ form.email_address() }}
        </p>

        {% if form.email_address.errors %}
            <ul class="errors">
                {% for error in form.email_address.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<p>
            {{ form.address.label }}
            {{ form.address() }}
        </p>

        {% if form.address.errors %}
            <ul class="errors">
                {% for error in form.address.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{form.submit()}}
        </p>
    </form>

</body>
</html>